nav{
    background-color: purple;
    padding: 1em 0;
  }
  a{
    float: right;
    padding-right: 30px;
    color: wheat;
    font-weight: bold;
    &:hover{
      background: darken($color: purple, $amount: 5%);
  }
  }

  
h1,h2 {
    text-shadow: 2px 2px 5px red;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif\;;
  }