<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contacts</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                    <div class="nav">
                        <a href="#"><span>Add</span></a>&nbsp;&nbsp;
                        <a href="#"><span>Search</span></a>&nbsp;&nbsp;
                    </div><br><hr>
                <div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>PhoneNumber</th>
                            <th>Company</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>    
                </table>
            </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</body>
</html>

