table,th,td{
    border:1px solid black;
    padding-right: 150px;
}
.nav{
    float: right ;
}
.col-sm-8{
    border: 2px solid lightgray;
    padding-bottom: 350px;
}
.col-sm-4{
    border: 2px solid lightgray;

}