<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <br><h1>Welcome To Home Page....</h1>
    <div class="container-fluid">
        <nav>
            <a href="#" routerLink="/login">
                <div class="show"></div>
                <div class="show"></div>
                <div class="show"></div>Logout
            </a>
            <a href="#" routerLink="./about">About</a>
            <a href="#" routerLink="./contacts">Contacts</a>
            <a href="#" routerLink="./leads">Leads</a>
            <a href="#" routerLink="./dashboard">Dashboard</a>
        </nav>
        
      </div>
      <marquee behavior="" direction="left"><h1>Welcome to My-App</h1></marquee>
      <!-- <div>
          <button type="submit" (click)="count()"></button>
      </div> -->
    
</body>
</html>
<router-outlet></router-outlet>

