<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About My-App</h1><br>
    <div>
        <img src="./assets/images/d.jpg" alt=""  width="500" height="333">
    </div><br>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium id dolorum molestiae quas repudiandae quisquam eius cupiditate accusantium, possimus repellat dolore, cumque repellendus molestias aut autem quasi beatae voluptas totam?</p>
</body>
</html>
